@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
    --secondary: #661ce7;
    --primary: #ff6433;
    --mint: #00d289;
    --black: #1e1b1b;
    --grey: #939191;
    --light-grey: #f2f2f2;
    --steelgrey: #e2e6e9;
    --white: #ffffff;
}


body {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    color: var(--black);
}


.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.header__container {
    margin: 0 auto;
    max-width: 1281px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
}

.header__logo-name {
    text-decoration: none;
    color: var(--black);
    font-size: 24px;
    font-weight: 900;
}
.header__nav {
    align-items: center;
    display: flex;
    margin-left: auto;
}

.header__nav-list {
    display: flex;
    gap: 40px;
}

.header__nav-item {
    list-style: none;
}

.header__nav-link {
    text-decoration: none;
    line-height: 28px;
    color: var(--black);
}

.header__divider {
    width: 2px;
    height: 40px;
    background-color: #d1d1d1;
}

.header__info {
    margin-left: 64px;
}

.header__info-logo {
    
}

.header__info-title {

}

.header__info-number {

}


