@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --secondary: #661ce7;
    --primary: #ff6433;
    --mint: #00d289;
    --black: #1e1b1b;
    --gray: #939191;
    --light-grey: #f2f2f2;
    --steelgrey: #e2e6e9;
    --white: #ffffff;
    --transtion: all .3s;
}


body {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    color: var(--black);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1281px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    display: inline-flex;
    padding: 16px 40px;
    background: var(--primary);
    border-radius: 12px;
    color: var(--white);
    text-decoration: none;
    line-height: 1.75;
}



/* --------------------------------------------------------------- */

/*     -!-         Header     -!-            */


.header {

}

.header__top {

}

.header__top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
}

.header__logo {

}

.header__nav-menu {
    margin-left: auto;

}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    margin-left: 40px;
    list-style: none;
}

.header__nav-link {
    text-decoration: none;
    color: var(--black);

    transition: var(--transtion);
}

.header__nav-link:hover {
    color: hsla(159, 100%, 30%);
}

.header__divider {
    border: 1px solid #939191;
    border-radius: 1px;
    height: 42px;
    margin: 0 32px;
    opacity: 0.36;
}
.header__user-help {
    display: flex;
    align-items: center;
}

.header__help-logo {

}

.header__help-img {
    margin-right: 14px;
}

.header__help-text {
    display: flex;
    flex-direction: column;
    
}

.header__help-title {
    opacity: 0.7;
    line-height: 24px;
    font-weight: 500;
    cursor: default;
}

.header__help-number {
    font-size: 18px;
    line-height: 175%;
}



/* -!-   header-body -!- */


.header__body {
    padding-top: 80px;
}

.header__body-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__body-main {
    
}
.header_body-title {
    max-width: 600px;
    font-size: 32px;
    text-align: left;
    letter-spacing: -1.92px;
    line-height: 84px;
    font-weight: 800;

    margin-bottom: 32px;
}

.header__body-text {
}
.header__body-user-buttons {
    display: flex;
    align-items: center;
}
.header__body-button {
    margin-right: 33px;
}
.button {
}
.header__body-play {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: var(--black);
}

.header__body-play svg {
    margin-right: 8px;
}
.header__body-info {
    display: flex;
    margin-top: 48px;
    align-items: center;
}

.header__info-logo {
    margin-right: 13px;
}
.header_info-title {
}
.header__info-text-upper {
    color: var(--gray);
    font-weight: 500;
    line-height: 24px;
}
.header__info-text-bottom {
    line-height: 175%;
    font-size: 18px;
}

.header__body-side {
}
.header__body-image {
    position: relative;
    display: inline-block
}
.header__body-main-image {

}
.header__main-image {
    border-radius: 5px;
}
.header__body-image-info {
    position: absolute;
    display: flex;
    left: -40px;
    bottom: 375px;
    color: var(--black);
    gap: 20px;
}
.header__image-service {
    display: flex;
    align-items: center;
    border-radius: 59px;
    background: linear-gradient(139deg, #FFF -38.72%, #FFF 153.95%);
    border: 12px solid rgba(225, 225, 225, 0.43);
    padding: 15px 40px 15px 15px;
}

.service-badge{
  width: 70px;       
  height: 70px;   
  border-radius: 50%;
  background: #5CBA99;

  display: flex;
  align-items: center;
  justify-content: center;
  

  color: #fff;
  margin-right: 14px;
}

.service-badge__num {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.72px;
}

.service-badge_unit {
    display: flex;
    position: relative;
    
}



.header__service-text {
    display: flex;
    align-items: center;
    
    line-height: 36px;
    font-size: 24px;
    letter-spacing: -0.72px;
}
.header__image-review {
    position: relative;
    top: 200px;

    display: flex;
    align-items: center;
    border-radius: 59px;
    background: linear-gradient(139deg, #FFF -38.72%, #FFF 153.95%);
    border: 12px solid rgba(225, 225, 225, 0.43);
    padding: 15px 25px;
}
.header__review-number {
}
.header__review-text {
}
.header__review-icons {

}
.header__star {
  width: 36px;
  height: 36px;
  background: #e0e0e0;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
.header__start.full {
    background: #ffb84d;
}
.header__start.half {
    background: linear-gradient(
    to right,
    #ffb84d 50%,
    #e0e0e0 50%
  );
}




