@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
    --secondary: #661ce7;
    --primary: #ff6433;
    --mint: #00d289;
    --black: #1e1b1b;
    --gry: #939191;
    --light-grey: #f2f2f2;
    --steelgrey: #e2e6e9;
    --white: #ffffff;
    --transtion: all .3s;
}


body {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    color: var(--black);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1281px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    display: inline-flex;
    padding: 16px 40px;
    background: var(--primary);
    border-radius: 12px;
    color: var(--white);
    text-decoration: none;
    line-height: 1.75;
}



/* --------------------------------------------------------------- */

/*     -!-         Header     -!-            */


.header {

}

.header__top {

}

.header__top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
}

.header__logo {

}

.header__nav-menu {
    margin-left: auto;

}
.header__nav-list {
    display: flex;
}
.header__nav-item {
    margin-left: 40px;
    list-style: none;
}

.header__nav-link {
    text-decoration: none;
    color: var(--black);

    transition: var(--transtion);
}

.header__nav-link:hover {
    color: hsla(159, 100%, 30%);
}

.header__divider {
    border: 1px solid #939191;
    border-radius: 1px;
    height: 42px;
    margin: 0 32px;
    opacity: 0.36;
}
.header__user-help {
    display: flex;
    align-items: center;
}

.header__help-logo {

}

.header__help-img {
    margin-right: 14px;
}

.header__help-text {
    display: flex;
    flex-direction: column;
    
}

.header__help-title {
    opacity: 0.7;
    line-height: 24px;
    font-weight: 500;
    cursor: default;
}

.header__help-number {
    font-size: 18px;
    line-height: 175%;
}



/* -!-   header-body -!- */





